:root {
  --pico-font-family-sans-serif: "Macondo", sans-serif;
}

#main {
  padding-top: 20px;
}

.container {
  max-width: 700px;
}

.title {
  text-align: center;
  padding: 20px;
}

.status-bar {
  padding-bottom: 20px;
}

.stat {
  padding-top: 15px;
}
